body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    background-color: skyblue;
}
#weather-form {
    margin-left: 20px;
}
#weather-data {
    margin-left: 20px;
}
.loading {
    display: none;
    margin-left: 20px;
}
button{
    border-radius: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: cadetblue;
}
#location{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
