<!--about.html-->

{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content%}
{% comment %} <div > {% endcomment %}
    {% comment %} <div class="container mx-auto">
        <div class="grid grid-cols-2 gap-4"> {% endcomment %}
            <h1 class=" mt-8 text-4xl font-bold text-red-500 text-center">About us</h1>
            <p class="mt-4 text-lg leading-relaxed text-gray-700 mx-auto max-w-4xl">
                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
               Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
               in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

        {% comment %} </div>
    </div>

</div> {% endcomment %}


{% endblock %}