{% extends 'base.html' %}

{% block title %}Home - Calorie Counter{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Food Items</h2>

    {% if food_items %}
        <ul class="divide-y divide-gray-200">
            {% for item in food_items %}
                <li class="py-4 flex justify-between items-center">
                    <div>
                        <p class="text-lg font-semibold">{{ item.name }}</p>
                        <p class="text-sm text-gray-500">{{ item.calories }} calories</p>
                    </div>
                    <div>
                        <a href="{% url 'delete_food' item.pk %}" class="text-red-600 hover:text-red-800">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        
        <div class="mt-6">
            <p class="text-xl font-bold">Total Calories: {{ total_calories }}</p>
        </div>

        

    {% else %}
        <p class="text-gray-600">Add food items</p>
    {% endif %}
</div>
{% endblock %}