@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
  background-color:gray;
  
}
.movie-poster {
  max-height: 300px;
  object-fit: cover;
}

.movie-poster:hover {
  max-height: 300px;
  object-fit: cover;
}